.register-page {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.register-page h1 {
  color: #333;
  margin-bottom: 20px;
}

.register-page form {
  display: flex;
  flex-direction: column;
}

.register-page input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.register-page button{
  margin-right: 0;
}
.register-page button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #5cb85c;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.register-page__login-link{
  width: 100%;
}

.register-page button:hover {
  background-color: #4cae4c;
}
